# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Django specific
db.sqlite3
/media/
/static/assets/bootstrap/
/static/assets/font-awesome/
/staticfiles/
/static/libs/

# Node
/node_modules