{% load static %}

<footer class="container-fluid bg-primary">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="p-1">
                    <span class="align-middle p-1">Made with Django</span>
                </div>
            </div>
            <div class="col">
                <div class="p-1 text-end">
                    <span class="align-middle p-1"></span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/custom/js/scripts.js' %}"></script>