{% extends 'base.html' %}
{% load bsfilters %}

{% block title %}{{ user.first_name }}'s orders | {% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h3 class="mb-4">{{ user.first_name }}'s Orders</h3>
        <p>Below are all your orders placed in the store.</p>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Total</th>
                    <th scope="col">QTY. of Items</th>
                    <th scope="col">Status</th>
                    <th scope="col">More details</th>
                </tr>


                {% for order in orders %}
                <tr>
                    <th scope="row">{{ order }}</td>
                    <td>{{ order.total|format_price_usa }}</td>
                    <td>{{ order.total_qty }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>
                        <a href="{% url 'order:detail' order.id %}">
                            Ver <i class="fas fa-search-plus ml-2"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>

{% include 'partials/_pagination.html' %}

{% endblock %}