{% extends 'base.html' %}

{% block title %}Payment | {% endblock %}

{% load bsfilters %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Choose Your Payment Method</h3>
        <p>For the developer: add your preferred payment method.</p>
    </div>
</div>

{% include 'partials/_order.html' %}

<div class="row mt-4">
    <div class="col">
        <form method="post" action="{% url 'order:payment' order.pk %}">
            {% csrf_token %}
            <button class="btn btn-secondary w-100 btn-lg" type="submit">Pay</button>
        </form>
    </div>
</div>


{% endblock %}